<div class="uk-grid c-page">
    <!-- == S:顶栏== -->
    <nav class="uk-navbar uk-width-1-1" ng-controller="header">
        <a href="/" class="uk-navbar-brand">{{blogName}}</a>
        <ul class="uk-navbar-nav">
            <li ng-repeat="(name,nav) in navs" ng-class="{'uk-active': nav.active}">
                <a ng-href="{{nav.href}}">{{name}}</a>
            </li>
        </ul>
    </nav>
    <!-- == E:顶栏== -->
    
    <!-- == S:侧栏== -->
    <nav class="uk-width-1-6 c-sidebar" ng-controller="sidebar">
        <div class="c-widget">
             <h3 class="c-widget-title">最近文章</h3>
             <ul class="uk-list">
                 <li ng-repeat="article in recentArticles"><a ng-href="#/article/{{article.id}}">{{article.title}}</a></li>
             </ul>
        </div>


        <div class="c-widget">
            <h3 class="c-widget-title">功能</h3>
             <ul class="uk-list uk-list-line">
                 <li ng-if="!isLogin"><a href="#/admin/login">登录</a></li>
                 <li ng-if="isLogin"><a href="#/admin">管理</a></li>
             </ul>
        </div>

    </nav>
    <!-- == E:侧栏== -->
    <div class="uk-width-5-6 c-page-main" ng-view></div>
</div>