<div class="uk-grid c-page">
    <!-- == S:顶栏== -->
    <nav class="uk-navbar uk-width-1-1" ng-controller="header">
        <a href="/" class="uk-navbar-brand">{{blogName}}</a>
        <ul class="uk-navbar-nav">
            <li ng-repeat="(name,nav) in navs" ng-class="{'uk-active': nav.active}">
                <a ng-href="{nav.active}">{{name}}</a>
            </li>
        </ul>
    </nav>
    <!-- == E:顶栏== -->
    
    <!-- == S:侧栏== -->
    <nav class="uk-width-1-6 c-sidebar" ng-controller="sidebar">
        <div class="c-widget">
             <h3 class="c-widget-title">最近文章</h3>
             <ul>
                 <li ng-repeat="mon in recentArticles"><a ng-href="#/articles/{{mon.date}}">{{mon.dateStr}} ({{mon.count}})</a></li>
             </ul>
        </div>


        <div class="c-widget">
            <h3 class="c-widget-title">功能</h3>
             <ul>
                 <li><a href="/">登录</a></li>
             </ul>
        </div>

    </nav>
    <!-- == E:侧栏== -->
</div>